body {
    margin: 0;
    padding: 50px 0;
    background: #bebebe;
}
* {
    outline: 0;
}
.wrapper {
    width: 500px;
    border: 2px solid white;
    border-radius: 5px;
    background: #eee;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}
.auth {
    display: block;
    width: 200px;
    padding: 5px;
    border: 1px solid blue;
    background: rgb(62, 120, 226);
    color: white;
    overflow: hidden;
    border-radius: 5px;
    margin: 20px auto;
}
input[type="submit"] {
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 15px;
    background: #6b69c2;
    color: white;
}
.block {
    float: left;
}
.blockLabel {
    display: block;
    padding: 1px 5px;
    margin-bottom: 3px;
    line-height: 21px;
}
.blockInput {
    border-radius: 5px;
    border: 1px solid black;
    height: 16px;
    display: block;
    padding: 2px 0 2px 5px;
    margin-bottom: 3px;
}
.blockButton {
    display: block;
    clear: both;
}
.inlineBlock {
    display: inline-block;
}
fieldset {
    border-radius: 5px;
    margin-bottom: 5px;
}
fieldset legend {
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px 15px;
    text-align: center;
    background: rgb(0, 119, 255);
    color: white;
}
.title {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
#content\:minFlowers, #content\:maxFlowers {
    width: 50px;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
.logout {
    position: absolute;
    right: 5px;
    top: 5px;
}
